{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {"ie": 11},
        "modules":"cjs"
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins" : [
    [
      "@babel/plugin-transform-runtime",
      {
        // "absoluteRuntime": false,
        "corejs": 3
        // "helpers": true,
        // "regenerator": true,
        // "useESModules": false
      }
    ]
  ]
}